.mainSection {
    background-color: lightgrey;
    height: 100vh;
}

.headerSection {
    background-color: navy;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.blogsHeading {
    font-size: 26px;
    padding: 20px;
    font-weight: 600;
}

.headerRightSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}

.loginRegister {
    font-size: 16px;
    font-weight: 600;
    margin-right: 10px;
    border: none;
    background-color: navy;
    color: white;
}

.secondSection {
    background-color: rgb(238, 238, 238);
    color: black;
    padding: 15px;
    margin: auto;
    margin-top: 25px;
    border-radius: 3px;
    width: 70%;

}
.buttonSection{
    display: flex;
    justify-content: end;
    align-items: center;
}
.loginButton1 {
    background-color: navy;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 8PX;
}

.registerButton1 {
    background-color:navy;
    color:white;
    padding:10px;
    border:none;
    border-radius:5px;
    font-weight:bold;
    margin-left:10PX;
}